<a href="https://colab.research.google.com/github/abinayalakshmi852-spec/sales-data-analysis-python/blob/main/Week2_Sales_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
# 1. Load the dataset
df = pd.read_csv('sales_data.csv')

# 2. Quick Overview
print("--- Data Info ---")
print(df.info())

print("\n--- Summary Statistics ---")
print(df.describe())

# 3. Total Sales by Product Category
category_sales = df.groupby('Product_Category')['Sales_Amount'].sum().sort_values(ascending=False)
print("\n--- Sales by Category ---")
print(category_sales)

# 4. Total Sales by Region
region_sales = df.groupby('Region')['Sales_Amount'].sum().sort_values(ascending=False)
print("\n--- Sales by Region ---")
print(region_sales)

# 5. Simple Profit Calculation (Example)
# Assuming Profit = Sales_Amount - (Unit_Cost * Quantity_Sold)
df['Profit'] = df['Sales_Amount'] - (df['Unit_Cost'] * df['Quantity_Sold'])
total_profit = df['Profit'].sum()
print(f"\nTotal Calculated Profit: ${total_profit:,.2f}")

--- Data Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   object
 2   Sales_Rep             1000 non-null   object
 3   Region                1000 non-null   object
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   object
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   object
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   object
 12  Sales_Channel         1000 non-null   object
 13  Region_and_Sales_Rep  1000 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 109.5+ KB
None

--- Summary Statistics ---
        Product_ID  Sales_Amount  Quantity_Sold    Unit_Cost   Unit_Price  \
count  1000.000000   1000.000000    1000.000000  1000.000000  1000.000000
mean   1050.128000   5019.265230      25.355000  2475.304550  2728.440120
std      29.573505   2846.790126      14.159006  1417.872546  1419.399839
min    1001.000000    100.120000       1.000000    60.280000   167.120000
25%    1024.000000   2550.297500      13.000000  1238.380000  1509.085000
50%    1051.000000   5019.300000      25.000000  2467.235000  2696.400000
75%    1075.000000   7507.445000      38.000000  3702.865000  3957.970000
max    1100.000000   9989.040000      49.000000  4995.300000  5442.150000

         Discount
count  1000.00000
mean      0.15239
std       0.08720
min       0.00000
25%       0.08000
50%       0.15000
75%       0.23000
max       0.30000

--- Sales by Category ---
Product_Category
Clothing       1313474.36
Furniture      1260517.69
Electronics    1243499.64
Food           1201773.54
Name: Sales_Amount, dtype: float64

--- Sales by Region ---
Region
North    1369612.51
East     1259792.93
West     1235608.93
South    1154250.86
Name: Sales_Amount, dtype: float64

Total Calculated Profit: $-58,822,828.41